@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #00202e;
}

.app-container {
  width: 90%;
  max-width: 470px;
  background: #003f5c;
  color: #fff;
  margin: 20px;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  transition: 0.6s ease-in-out;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  border: 0;
  outline: 0;
  background: #014e72;
  color: #fff;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 20px;
}

.map-icon {
  font-size: 30px;
}

.search-input {
  text-transform: capitalize;
}

.search-input::placeholder {
  color: aliceblue;
}

.search-Btn {
  border: 0;
  outline: 0;
  background: #014e72;
  border-radius: 50%;
  width: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.search-Btn i {
  font-weight: 400;
  color: aliceblue;
  font-size: 28px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather-data h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather-data h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.weather-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.details-col {
  display: flex;
  align-items: center;
  text-align: left;
}

.details-col img {
  width: 40px;
  margin-right: 10px;
}

.humidity-value,
.wind-value {
  font-size: 28px;
  margin-top: -6px;
}

.weather-data {
  display: none;
  transition: 0.6s ease-in-out;
}

.error-message {
  padding-top: 50px;
  display: none;
}

.error-box {
  margin: auto;
  align-items: center;
}

.error-box img {
  width: 270px;
  height: 100%;
}

.error-box p {
  font-size: 35px;
  padding-top: 40px;
}
